<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Flask_Chat_App</title>
    </head>
<body>
    <h1>Welcome to chat room {{ room }}</h1>
    <div id = "messages"></div>
    <form>
        <input type = "text" placeholder = "Enter your message here">
        <button type = "submit">Send</button>
    </form> 
</body>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
    //const socket = io.connect("http://127.0.0.1:5000");

    //socket.on("connect", function () { socket.emit("join_room", {
        //username: "{{ username }}", room: "{{ room }}"}) });

    //socket.on("joinAnnouncement", function () { console.log(data)});
</script>
</html>
