<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Log in </title>
    </head>
<body>
    <label>
        <h1>Login: </h1>
    </label>
    <form action = "login" method = "POST"></formaction>
        <table>
            <tr>
                <td>
                    <label>Username: </label>
                </td>
                <td>
                    <input type = "text" name = "uid" placeholder = "Username"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password: </label>
                </td>
                <td>
                    <input type = "password" name = "password" placeholder = "Password"/>
                </td>
            </tr>
            <tr>
                <td>
                    <button type = "submit">Login </button>
                </td>
            </tr>
        </table>
    </form>
    Go back <a href = "home">Home </a>
</body>
</html>